<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <script src="config.js"></script> -->
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>GeoTrasher</h1>

      <!-- <a href="/session"></a> -->
      <button onclick="makeSession()" type="button">New Session</button>
      <input id="session-name" placeholder="Session Name (optional)" />
      <div class="button-holder">
        <button type="button" onclick="sendItemPosition('Nikotin')">
          Nikotin
        </button>
        <button type="button" onclick="sendItemPosition('Annat')">Annat</button>
      </div>
      <p id="button-response"></p>
      <h2>Plockade saker:</h2>
      <p id="data-nikotin">Nikotin:</p>
      <p id="data-annat">Annat:</p>
      <button type="button" onclick="updateView()">
        Update view
      </button>
      <a href="/download/0"><button type="button">Download Data</button></a>
      <h2>Karta</h2>
      <div id="map"></div>
    </div>

    <!--  Sript code below here -->
    <script src="{{ url_for('static', filename='js/all.js') }}"></script>
    <script>
      function makeSession() {
        text = document.querySelector("#session-name").value;
        text = cleanInput(text);
        sessionStorage.sessionName = text;
        window.location += "/session";
      }

      function updateView() {
        updateItemCountPromise();
      }

      // Get inital data
      updateView();
    </script>
  </body>
</html>
