<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="container">
      This is a session
      <p>Session nr: <span id="sessionID"></span></p>
      <div class="button-holder">
        <button type="button" onclick="addItemAndUpdate('Nikotin')">
          Nikotin
        </button>
        <button type="button" onclick="addItemAndUpdate('Annat')">Annat</button>
      </div>
      <p id="button-response"></p>
      <h2>Plockade saker:</h2>
      <p id="data-nikotin">Nikotin:</p>
      <p id="data-annat">Annat:</p>
      <button type="button" onclick="getData(sessionStorage.sessionID)">
        Update view
      </button>
      <a href="/download"><button type="button">Download Data</button></a>
    </div>

    <script src="{{ url_for('static', filename='js/all.js') }}"></script>
    <script>
      // create a new session.
      let sessionID = 0;

      async function addItemAndUpdate(type) {
        await sendItemPosition(type);
      }

      function startSession() {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var res = JSON.parse(xhttp.response);
            document.querySelector("#sessionID").innerHTML = res;
            sessionID = res;
            sessionStorage.sessionID = res;
            sendItemPosition("Start");
          }
        };
        xhttp.open("GET", "/start_session", true);
        xhttp.send();
      }

      function getSessionData() {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var res = JSON.parse(xhttp.response);
            displayData(res);
          }
        };
        xhttp.open(
          "GET",
          `/get_session_items/${sessionStorage.sessionID}`,
          true
        );
        xhttp.send();
      }

      startSession();
    </script>
  </body>
</html>
